
# Temporary files of Vim
*.swp
*.swo
*.sh~
Thumbs.db*

# Audio files
*.wav
*.mp3

# Development cache / data files
__pycache__/
.pytest_cache/
.venv/
bootstrap_data/
tf_dataset_experiment/
htmlcov/
.vscode/
*.code-workspace
.coverage
.cookie

# Transcription results
*.mid
*.csv

# Built files
dist/
omnizart.egg-info/
docs/build/
build/

# Large files
sample_feature.hdf

# Other files
checkpoints/
test.sh
soundfonts.sf2
